<h1>My Music</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Year</th>
    <th>View</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
 
  <% @album.each do |album| %>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.artist %></td>
      <td><%= album.year %></td>
      <td><%= link_to 'Show', album_path(album) %></td>
      <td><%= link_to 'Edit', edit_album_path(album) %></td>
      <td><%= link_to 'Destroy', album_path(album),
              method: :delete,
              data: { confirm: 'For real?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add a New Album', new_album_path %>